<div class="mt-2">
    <div class="row">
        <div class="col-sm-10 col-md-10">
              <section>
            <H3>{{anime.name}}</H3>
            <iframe width="1080px" height="720px" src="https://www.youtube.com/embed/{{anime.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{anime.description}}</p>
            </section>
        </div>
        <div class="col-sm-6 col-md-2">
            <section>
            <div class="grid">
                {{!-- {{#each episodes}}
                 <div class="grid-items">
                   <label  for="">{{this.episode}}</label>             
                </div>
                {{/each}} --}}
                  {{#each animes}}
                 <div class="grid-items">
                   <label  for="">{{this.episodes.[0]}}</label>  
                     <a href="/anime/{{this.slug}}"></a>
                </div>
              {{/each}}
            </div>
            </section>
        </div>
    </div>
    
</div>