<div class="mt-2">
    <div class="row">
        <div class="col-sm-8 col-md-10">
              <section>
            <H3>{{anime.name}}</H3>
            <iframe id="video-player" width="1080px" height="620px" src="https://www.youtube.com/embed/{{anime.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{anime.description}}</p>
            <p>{{anime.slug}}</p>
            </section>
        </div>
        <div class="col-sm-6 col-md-2">
            <section>
            <div class="grid">
                {{#each anime.episodes}}
                    <button class="episode-button" data-episode-video-id="{{this.episode_video_id}}">{{this.episode}}</button>
                  {{/each}}
            </div>
            </section>
          </div>
           <div class="col-sm-6 col-md-2">
            <section>
            <div class="grid">
            {{#each animes}}    
                <div class="slide">
                    <img src="{{this.image}}" class="card-img-top" alt="..."> 
                </div> 
            {{/each}}
            </div>
            </section>
          </div>
      
    </div>
</div>
<script>
const videoPlayer = document.getElementById('video-player');
const episodeButtons = document.querySelectorAll('.episode-button');
  episodeButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const episodeVideoId = button.dataset.episodeVideoId;
      const videoUrl = `https://www.youtube.com/embed/${episodeVideoId}`;
      videoPlayer.setAttribute('src', videoUrl);
    });
  });
</script>