<div class="forum">
    <div class="image-center">
        <img src="/img/anis.png" alt="">
    </div>
    {{#if loggedIn}}

    <a href="/forum/new-post-forum"><button type="submit" class="btn btn-primary">New Post</button></a>
    {{/if}}
    {{#each posts}}
    <article class="article-card">
        <div class="img-box">
            <img src="{{this.image}}" alt="" class="article-banner">
        </div>
        <div class="article-content">
            <a href="/forum/{{this._id}}">
                <h3 class="article-title">{{this.title}}</h3>
            </a>
            <p class="article-text">{{this.sumary}}</p>
            <div class="acticle-content-footer">
                <div class="author">
                    <img src="/img/anis.png" alt="" class="author-avater">
                    <div class="author-info">
                        <a href="#">
                            <h4 class="author-name">{{this.userId.username}}</h4>
                        </a>
                        <div class="publish-date">{{this.createAt}}</div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {{/each}}